HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

front/node_modules/bootstrap/dist/css/bootstrap-grid.css

front/node_modules/bootstrap/dist/css/bootstrap-grid.css.map

front/node_modules/bootstrap/dist/css/bootstrap-grid.min.css

front/node_modules/bootstrap/dist/css/bootstrap-grid.min.css.map

front/node_modules/bootstrap/dist/css/bootstrap-grid.rtl.css

front/node_modules/bootstrap/dist/css/bootstrap-grid.rtl.css.map

front/node_modules/bootstrap/dist/css/bootstrap-grid.rtl.min.css

front/node_modules/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map

front/node_modules/bootstrap/dist/css/bootstrap-reboot.css

front/node_modules/bootstrap/dist/css/bootstrap-reboot.css.map

front/node_modules/bootstrap/dist/css/bootstrap-reboot.min.css

front/node_modules/bootstrap/dist/css/bootstrap-reboot.min.css.map

front/node_modules/bootstrap/dist/css/bootstrap-reboot.rtl.css

front/node_modules/bootstrap/dist/css/bootstrap-reboot.rtl.css.map

front/node_modules/bootstrap/dist/css/bootstrap-reboot.rtl.min.css

front/node_modules/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map

front/node_modules/bootstrap/dist/css/bootstrap-utilities.css

front/node_modules/bootstrap/dist/css/bootstrap-utilities.css.map

front/node_modules/bootstrap/dist/css/bootstrap-utilities.min.css

front/node_modules/bootstrap/dist/css/bootstrap-utilities.min.css.map

front/node_modules/bootstrap/dist/css/bootstrap-utilities.rtl.css

front/node_modules/bootstrap/dist/css/bootstrap-utilities.rtl.css.map

front/node_modules/bootstrap/dist/css/bootstrap-utilities.rtl.min.css

front/node_modules/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map

front/node_modules/bootstrap/dist/css/bootstrap.css

front/node_modules/bootstrap/dist/css/bootstrap.css.map

front/node_modules/bootstrap/dist/css/bootstrap.min.css

front/node_modules/bootstrap/dist/css/bootstrap.min.css.map

front/node_modules/bootstrap/dist/css/bootstrap.rtl.css

front/node_modules/bootstrap/dist/css/bootstrap.rtl.css.map

front/node_modules/bootstrap/dist/css/bootstrap.rtl.min.css

front/node_modules/bootstrap/dist/css/bootstrap.rtl.min.css.map

front/node_modules/bootstrap/dist/js/bootstrap.bundle.js

front/node_modules/bootstrap/dist/js/bootstrap.bundle.js.map

front/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js

front/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js.map

front/node_modules/bootstrap/dist/js/bootstrap.esm.js

front/node_modules/bootstrap/dist/js/bootstrap.esm.js.map

front/node_modules/bootstrap/dist/js/bootstrap.esm.min.js

front/node_modules/bootstrap/dist/js/bootstrap.esm.min.js.map

front/node_modules/bootstrap/dist/js/bootstrap.js

front/node_modules/bootstrap/dist/js/bootstrap.js.map

front/node_modules/bootstrap/dist/js/bootstrap.min.js

front/node_modules/bootstrap/dist/js/bootstrap.min.js.map

front/node_modules/bootstrap/js/dist/alert.js

front/node_modules/bootstrap/js/dist/alert.js.map

front/node_modules/bootstrap/js/dist/base-component.js

front/node_modules/bootstrap/js/dist/base-component.js.map

front/node_modules/bootstrap/js/dist/button.js

front/node_modules/bootstrap/js/dist/button.js.map

front/node_modules/bootstrap/js/dist/carousel.js

front/node_modules/bootstrap/js/dist/carousel.js.map

front/node_modules/bootstrap/js/dist/collapse.js

front/node_modules/bootstrap/js/dist/collapse.js.map

front/node_modules/bootstrap/js/dist/dom/data.js

front/node_modules/bootstrap/js/dist/dom/data.js.map

front/node_modules/bootstrap/js/dist/dom/event-handler.js

front/node_modules/bootstrap/js/dist/dom/event-handler.js.map

front/node_modules/bootstrap/js/dist/dom/manipulator.js

front/node_modules/bootstrap/js/dist/dom/manipulator.js.map

front/node_modules/bootstrap/js/dist/dom/selector-engine.js

front/node_modules/bootstrap/js/dist/dom/selector-engine.js.map

front/node_modules/bootstrap/js/dist/dropdown.js

front/node_modules/bootstrap/js/dist/dropdown.js.map

front/node_modules/bootstrap/js/dist/modal.js

front/node_modules/bootstrap/js/dist/modal.js.map

front/node_modules/bootstrap/js/dist/offcanvas.js

front/node_modules/bootstrap/js/dist/offcanvas.js.map

front/node_modules/bootstrap/js/dist/popover.js

front/node_modules/bootstrap/js/dist/popover.js.map

front/node_modules/bootstrap/js/dist/scrollspy.js

front/node_modules/bootstrap/js/dist/scrollspy.js.map

front/node_modules/bootstrap/js/dist/tab.js

front/node_modules/bootstrap/js/dist/tab.js.map

front/node_modules/bootstrap/js/dist/toast.js

front/node_modules/bootstrap/js/dist/toast.js.map

front/node_modules/bootstrap/js/dist/tooltip.js

front/node_modules/bootstrap/js/dist/tooltip.js.map

front/node_modules/bootstrap/js/dist/util/backdrop.js

front/node_modules/bootstrap/js/dist/util/backdrop.js.map

front/node_modules/bootstrap/js/dist/util/component-functions.js

front/node_modules/bootstrap/js/dist/util/component-functions.js.map

front/node_modules/bootstrap/js/dist/util/config.js

front/node_modules/bootstrap/js/dist/util/config.js.map

front/node_modules/bootstrap/js/dist/util/focustrap.js

front/node_modules/bootstrap/js/dist/util/focustrap.js.map

front/node_modules/bootstrap/js/dist/util/index.js

front/node_modules/bootstrap/js/dist/util/index.js.map

front/node_modules/bootstrap/js/dist/util/sanitizer.js

front/node_modules/bootstrap/js/dist/util/sanitizer.js.map

front/node_modules/bootstrap/js/dist/util/scrollbar.js

front/node_modules/bootstrap/js/dist/util/scrollbar.js.map

front/node_modules/bootstrap/js/dist/util/swipe.js

front/node_modules/bootstrap/js/dist/util/swipe.js.map

front/node_modules/bootstrap/js/dist/util/template-factory.js

front/node_modules/bootstrap/js/dist/util/template-factory.js.map

front/node_modules/bootstrap/js/index.esm.js

front/node_modules/bootstrap/js/index.umd.js

front/node_modules/bootstrap/js/src/alert.js

front/node_modules/bootstrap/js/src/base-component.js

front/node_modules/bootstrap/js/src/button.js

front/node_modules/bootstrap/js/src/carousel.js

front/node_modules/bootstrap/js/src/collapse.js

front/node_modules/bootstrap/js/src/dom/data.js

front/node_modules/bootstrap/js/src/dom/event-handler.js

front/node_modules/bootstrap/js/src/dom/manipulator.js

front/node_modules/bootstrap/js/src/dom/selector-engine.js

front/node_modules/bootstrap/js/src/dropdown.js

front/node_modules/bootstrap/js/src/modal.js

front/node_modules/bootstrap/js/src/offcanvas.js

front/node_modules/bootstrap/js/src/popover.js

front/node_modules/bootstrap/js/src/scrollspy.js

front/node_modules/bootstrap/js/src/tab.js

front/node_modules/bootstrap/js/src/toast.js

front/node_modules/bootstrap/js/src/tooltip.js

front/node_modules/bootstrap/js/src/util/backdrop.js

front/node_modules/bootstrap/js/src/util/component-functions.js

front/node_modules/bootstrap/js/src/util/config.js

front/node_modules/bootstrap/js/src/util/focustrap.js

front/node_modules/bootstrap/js/src/util/index.js

front/node_modules/bootstrap/js/src/util/sanitizer.js

front/node_modules/bootstrap/js/src/util/scrollbar.js

front/node_modules/bootstrap/js/src/util/swipe.js

front/node_modules/bootstrap/js/src/util/template-factory.js

front/node_modules/bootstrap/LICENSE

front/node_modules/bootstrap/package.json

front/node_modules/bootstrap/README.md

front/node_modules/bootstrap/scss/_accordion.scss

front/node_modules/bootstrap/scss/_alert.scss

front/node_modules/bootstrap/scss/_badge.scss

front/node_modules/bootstrap/scss/_breadcrumb.scss

front/node_modules/bootstrap/scss/_button-group.scss

front/node_modules/bootstrap/scss/_buttons.scss

front/node_modules/bootstrap/scss/_card.scss

front/node_modules/bootstrap/scss/_carousel.scss

front/node_modules/bootstrap/scss/_close.scss

front/node_modules/bootstrap/scss/_containers.scss

front/node_modules/bootstrap/scss/_dropdown.scss

front/node_modules/bootstrap/scss/_forms.scss

front/node_modules/bootstrap/scss/_functions.scss

front/node_modules/bootstrap/scss/_grid.scss

front/node_modules/bootstrap/scss/_helpers.scss

front/node_modules/bootstrap/scss/_images.scss

front/node_modules/bootstrap/scss/_list-group.scss

front/node_modules/bootstrap/scss/_maps.scss

front/node_modules/bootstrap/scss/_mixins.scss

front/node_modules/bootstrap/scss/_modal.scss

front/node_modules/bootstrap/scss/_nav.scss

front/node_modules/bootstrap/scss/_navbar.scss

front/node_modules/bootstrap/scss/_offcanvas.scss

front/node_modules/bootstrap/scss/_pagination.scss

front/node_modules/bootstrap/scss/_placeholders.scss

front/node_modules/bootstrap/scss/_popover.scss

front/node_modules/bootstrap/scss/_progress.scss

front/node_modules/bootstrap/scss/_reboot.scss

front/node_modules/bootstrap/scss/_root.scss

front/node_modules/bootstrap/scss/_spinners.scss

front/node_modules/bootstrap/scss/_tables.scss

front/node_modules/bootstrap/scss/_toasts.scss

front/node_modules/bootstrap/scss/_tooltip.scss

front/node_modules/bootstrap/scss/_transitions.scss

front/node_modules/bootstrap/scss/_type.scss

front/node_modules/bootstrap/scss/_utilities.scss

front/node_modules/bootstrap/scss/_variables-dark.scss

front/node_modules/bootstrap/scss/_variables.scss

front/node_modules/bootstrap/scss/bootstrap-grid.scss

front/node_modules/bootstrap/scss/bootstrap-reboot.scss

front/node_modules/bootstrap/scss/bootstrap-utilities.scss

front/node_modules/bootstrap/scss/bootstrap.scss

front/node_modules/bootstrap/scss/forms/_floating-labels.scss

front/node_modules/bootstrap/scss/forms/_form-check.scss

front/node_modules/bootstrap/scss/forms/_form-control.scss

front/node_modules/bootstrap/scss/forms/_form-range.scss

front/node_modules/bootstrap/scss/forms/_form-select.scss

front/node_modules/bootstrap/scss/forms/_form-text.scss

front/node_modules/bootstrap/scss/forms/_input-group.scss

front/node_modules/bootstrap/scss/forms/_labels.scss

front/node_modules/bootstrap/scss/forms/_validation.scss

front/node_modules/bootstrap/scss/helpers/_clearfix.scss

front/node_modules/bootstrap/scss/helpers/_color-bg.scss

front/node_modules/bootstrap/scss/helpers/_colored-links.scss

front/node_modules/bootstrap/scss/helpers/_focus-ring.scss

front/node_modules/bootstrap/scss/helpers/_icon-link.scss

front/node_modules/bootstrap/scss/helpers/_position.scss

front/node_modules/bootstrap/scss/helpers/_ratio.scss

front/node_modules/bootstrap/scss/helpers/_stacks.scss

front/node_modules/bootstrap/scss/helpers/_stretched-link.scss

front/node_modules/bootstrap/scss/helpers/_text-truncation.scss

front/node_modules/bootstrap/scss/helpers/_visually-hidden.scss

front/node_modules/bootstrap/scss/helpers/_vr.scss

front/node_modules/bootstrap/scss/mixins/_alert.scss

front/node_modules/bootstrap/scss/mixins/_backdrop.scss

front/node_modules/bootstrap/scss/mixins/_banner.scss

front/node_modules/bootstrap/scss/mixins/_border-radius.scss

front/node_modules/bootstrap/scss/mixins/_box-shadow.scss

front/node_modules/bootstrap/scss/mixins/_breakpoints.scss

front/node_modules/bootstrap/scss/mixins/_buttons.scss

front/node_modules/bootstrap/scss/mixins/_caret.scss

front/node_modules/bootstrap/scss/mixins/_clearfix.scss

front/node_modules/bootstrap/scss/mixins/_color-mode.scss

front/node_modules/bootstrap/scss/mixins/_color-scheme.scss

front/node_modules/bootstrap/scss/mixins/_container.scss

front/node_modules/bootstrap/scss/mixins/_deprecate.scss

front/node_modules/bootstrap/scss/mixins/_forms.scss

front/node_modules/bootstrap/scss/mixins/_gradients.scss

front/node_modules/bootstrap/scss/mixins/_grid.scss

front/node_modules/bootstrap/scss/mixins/_image.scss

front/node_modules/bootstrap/scss/mixins/_list-group.scss

front/node_modules/bootstrap/scss/mixins/_lists.scss

front/node_modules/bootstrap/scss/mixins/_pagination.scss

front/node_modules/bootstrap/scss/mixins/_reset-text.scss

front/node_modules/bootstrap/scss/mixins/_resize.scss

front/node_modules/bootstrap/scss/mixins/_table-variants.scss

front/node_modules/bootstrap/scss/mixins/_text-truncate.scss

front/node_modules/bootstrap/scss/mixins/_transition.scss

front/node_modules/bootstrap/scss/mixins/_utilities.scss

front/node_modules/bootstrap/scss/mixins/_visually-hidden.scss

front/node_modules/bootstrap/scss/utilities/_api.scss

front/node_modules/bootstrap/scss/vendor/_rfs.scss

front/package-lock.json

front/package.json

front/angular-ecommerce/angular.json

front/angular-ecommerce/package-lock.json

front/angular-ecommerce/package.json
