<div class="main-content page-m"> 
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="customer" class="form-area">
                    <h3>주문서</h3>

                    <div class="row">
                        <div class="col-md-2"><label>이름</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>성</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>이메일</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Shipping Address-->



                <div formGroupName="shippingAddress" class="form-area">
                    <h3>배송정보</h3>

                    <div class="row">
                        <div class="col-md-2"><label>국가</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>주소</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>군</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>도시</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2"><label>우편번호</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>배송지가 기본정보와 같습니다
                    </label>
                </div>

                <div formGroupName="billingAddress" class="form-area">
                    <h3>청구서</h3>

                    <div class="row">
                        <div class="col-md-2"><label>국가</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>시</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>군</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>도시</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2"><label>우편번호</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>

                </div>



                <div formGroupName="creditCard" class="form-area">

                    <h3>신용 카드</h3>
    
                        <div class="row">
                            <div class="col-md-2"><label>카드 종류</label></div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <select formControlName="cardType">
                                        <option>Visa</option>
                                        <option>MaterCard</option>
                                    </select>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-2"><label>카드 이름</label></div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="nameOnCard" type="text">
                                </div>
                            </div>
                        </div>
                  
                        <div class="row">
                            <div class="col-md-2"><label>카드 번호</label></div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="cardNumber" type="text">
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-2"><label>일련번호</label></div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="securityCode" type="text">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2"><label>만료 월</label></div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <select formControlName="expirationMonth">
                                        <option *ngFor="let month of creditCardMonths">
                                            {{ month }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2"><label>만료 년도</label></div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                        <option *ngFor="let year of creditCardYears">
                                            {{ year }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                </div>

                <!-- Order Details -->
                <div class="form-area">
                    <h3>주문 확인</h3>

                    <p>총 수량 : {{ totalQuantity }}</p>
                    <p>배송비 : 무료</p>
                    <p>총 금액: {{totalPrice | currency:'USD'}}</p>
                </div>

            
                <div class="text-center">
                    <button type="submit" class="btn btn-info">결제</button>
                </div>
            </form>
        </div>
    </div>

</div>