<div class="login-status-header">
    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Welcome back {{ userFullName }}
    

</div>
    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">로그인</button>

    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">로그아웃</button>

    <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn ml-1">멤버쉽</button>

    <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ml-1">주문 내역</button>



</div>